
body {
	background-color:#200515;
  color:#f5e2ed;
}
/* lists, blockquotes and paragraphs */
p, ul, ol, blockquote,label {
	color:#f5e2ed;
}
a {color:#f5e2ed;text-decoration:none;}
h1, h2, h3, h4, h5 {color:#fff8fc;}
blockquote {
	background-image:url(images/Galaxy/quote.png);
}

.rss-text a {color:#f5e2ed;text-decoration:none;}

#slides-cu3er {width:630px; height:314px; float:left; background-image:url(images/Galaxy/shadow-box.jpg); background-repeat:no-repeat; background-position:bottom;}

/* Container
------------------------------------------------------*/
#main_container{background-image:url(images/Galaxy/bg-top-container.jpg); background-repeat:repeat-x; min-height:90%; }

/* Contentt */
#head-top {border-bottom:1px solid #420B2C;}
#head-top-inner {border-bottom:1px solid #420B2C;}
.maincontent h3 {border-bottom:1px solid #420B2C;}
.map{border:solid 1px #420B2C; padding:6px; margin:0px; background-color:#200515;}

/* Blog
------------------------------------------------------*/
ul.blog-list {margin:0px; padding:0px; list-style-type:none; color:#bdbdbd;}
ul.blog-list li,.widgets ul li {background-image:url(images/Galaxy/small-arrow.png); background-position:0px 3px; background-repeat:no-repeat; padding:0px 0px 12px 17px; line-height:13px;}
.blog-posted {background-image:url(images/Galaxy/blog-post-bg.jpg); background-repeat:no-repeat; height:27px; margin-top:30px; padding-top:8px; font-size:11px;}
ul.list li {background-image:url(images/Galaxy/green-arrow.png); background-position:0px 2px; background-repeat:no-repeat; padding:0px 0px 12px 22px; line-height:13px;}

/* Portfolio 
------------------------------------------------------*/
#quote {background-image:url(images/Galaxy/portfolio-shadow.jpg); background-repeat:no-repeat; background-position:top; width:960px; float:left;}
#portfolio-list li img {border:solid 1px #7c305d; padding:6px; margin:0px; background-color:#200515;} 
.jcarousel-skin-portfolio .jcarousel-next-vertical {position: absolute; right: 0px; top: -50px; width: 23px; height: 23px; cursor: pointer; background: url("images/Galaxy/nav_carousel.gif") no-repeat 100% 0%;}
.jcarousel-skin-portfolio .jcarousel-prev-vertical {position: absolute; right: 30px; top: -50px; width: 23px; height: 23px; cursor: pointer; background: url("images/Galaxy/nav_carousel.gif") no-repeat 0% 0%;}
.portfolio-item-thumb {width:300px; float:left; margin:0px 29px 20px 0px; color:#f5e2ed; line-height:18px; position: relative; height: 250px;}

/* Sidebar 
------------------------------------------------------*/
.side-box h3 {border-bottom:1px solid #420B2C; padding-bottom:3px;}

/* Image and Captions */
img.alignright {
  border:solid 1px #420B2C; 
  background-color:#200515;
}
img.alignleft {
  border:solid 1px #420B2C; 
  background-color:#200515;
}

#contactFormArea {color:#f5e2ed;}
ul#listcomment li {
	border-bottom: 1px solid #420B2C;
}
.titlecomment {
	width: auto;
}
.titlecomment img {
	border: 1px solid #420B2C;
}